@model WebStoreUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "BookStore: your cart";
}

    <h2>Your cart</h2>
<table class="table">
    <thead>
        <tr>
            <th>Count</th>
            <th>Book</th>
            <th class="text-right">Price</th>
            <th class="text-right">Sum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Book.Name</td>
                <td class="text-right">@line.Book.Price.ToString("# $")</td>
                <td class="text-right">
                    @((line.Quantity * line.Book.Price).ToString("# $"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">In all:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# $")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Сontinue shopping</a>
</div>
